@media (min-width: 2000px) {
  h2 {
    font-size: 80px;
  }
  .logo a {
    font-size: 60px;
  }
  .nav__link a {
    font-size: 40px;
  }
  .promo__content h1 {
    font-size: 100px;
  }
  .promo__content p {
    max-width: 900px;
    font-size: 50px;
  }
  .button {
    width: 400px;
    padding: 44px 60px;
    font-size: 30px;
  }
  .right__start p,
  .block__ p,
  .Luxury p,
  .Solo_workout__right p {
    font-size: 30px;
  }
  .block__ {
    height: auto;
    margin: 100px 0 100px 0;
  }
  .footer p {
    font-size: 30px;
  }
  .Solo_workout_block {
    justify-content: center;
  }
  .Solo_workout__right h3 {
    font-size: 60px;
  }

  .form__,
  #submit {
    padding: 42px 42px;
    font-size: 30px;
  }
}

@media (max-width: 1100px) {
  .Solo_workout_block {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .header__top {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .nav__link {
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .nav__link li a:hover {
    color: rgb(187, 3, 3);
  }
  .nav__link.show {
    opacity: 1;
    visibility: visible;
  }

  .nav__link a {
    display: block;
  }

  #burger {
    display: block;
    position: fixed;
    right: 5px;
    top: 0;
    transition: 0.3s;
    z-index: 2000;
    cursor: pointer;
  }

  .promo,
  .footer {
    background-position: right;
  }
}

@media (max-width: 768px) {
  .block__ p {
    font-size: 15px;
    color: #000;
  }
  .block__top img {
    width: 45px;
  }
  .promo__images img {
    height: 100%;
  }
  .Title__text_icons {
    grid-template-columns: repeat(2, 3fr);
  }
  .hedphone {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 40px;
  }
  .promo {
    background-position: center;
  }
  p {
    font-size: 15px;
  }
  .Solo_workout_block {
    flex-wrap: wrap;
  }
  .promo__content h1 {
    font-size: 50px;
  }
  .form {
    max-width: 350px;
  }
  .Title__text_icons {
    grid-template-columns: repeat(1, 6fr);
  }
}
